# LaTeX build artifacts
out/
*.aux
*.log
*.bbl
*.blg
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.out
*.bcf
*.run.xml
*-blx.bib

# PyCharm
.idea/

# VS Code
.vscode/

# template folder
template/

#pdf
*.pdf